h1{
    font-size: 45px;
    color: rgb(142, 92, 1);
}

img{
    max-height: 50px;
}

nav a {
    color: grey;
    text-decoration: none;
}

.active{
    color: aqua;
}

em{
    color:rgb(142, 92, 1);
    font-weight: 900;
    margin: 50px;
    display: block;
    font-size: large;
}