h1 {
    font-size: 15px;
    color: rgb(142, 92, 1);
    font-size: 1.5rem;
    font-weight: 500;
}

img {
    max-height: 50px;
}

nav a {
    color: grey;
    text-decoration: none;
}

table {
    background: rgb(202, 242, 3);
    margin: auto;
    border-spacing: 15px 0;
    color: green;
}

th {
    text-align: left;
}

tr:nth-Child(2) td {
    color: blue;
}