h1 {
    font-size: 15px;
    color: rgb(142, 92, 1);
}

.maxImg {
    max-height: 50px;
}

nav a {
    color: grey;
    text-decoration: none !important;
}

.box-1{
    color: antiquewhite;
    font-size: 10px;
}

.img-fluid:hover{
border-radius: 10px;
border: 1px solid antiquewhite ;
}

