h1 {
    font-size: 15px;
    color: rgb(142, 92, 1);
}

img {
    max-height: 50px;
}

nav a {
    color: grey;
    text-decoration: none;
}

audio{
    background-color: green;
    max-height: 2rem;
    border: 10px solid green;
}

label{
    font-size: 2rem;
    color: greenyellow;
}

.song{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

