h1 {
    font-size: 15px;
    color: rgb(142, 92, 1);
    font-size: 1.5rem;
    font-weight: 500;
}

img {
    max-height: 50px;
}

nav a {
    color: grey;
    text-decoration: none;
}

label{
    font-size: 2rem;
    color: greenyellow;
    margin-right: 2rem;
}

audio{
    background-color: green;
    max-height: 2rem;
    border: 10px solid green;
    border-radius: 15px;
}

.song{
    display: flex;
    align-items: center;
    justify-content: center;
}

