body {
    background-color: rgb(95, 172, 95);
    font-family: sans-serif;
    border: 1rem solid orange;
    border-radius: 13px;
}

img {
    max-height: 120px;
    border-radius: 13px;
}

header div {
    background-image: linear-gradient(rgb(162, 255, 0), rgb(95, 172, 95));
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    background-color: green;
    border-radius: 13px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.activePage {
    color: aqua;
    text-decoration: none;
}

#programLink:hover {
    color: blue;
}

nav a {
    color: grey;
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

.taskField {
    height: 3rem;
    width: 3rem;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    margin: 1rem;
    border-radius: 13px;
    background-color: azure;
}

.result {
    width: 4rem;
}

.controls {
    background-image: linear-gradient(rgb(95, 172, 95), rgb(162, 255, 0));
    text-align: center;
    padding: 1rem;
}

footer {
    text-align: center;
}

footer button {
    color: red;
}

footer button,
footer input {
    margin: 10px;
}

.task {
    display: flex;
    justify-content: center;
}

.wrongWarning {
    font-weight: 900;
    display: none
}

.explanationText {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 60%;
    gap: 1px;
}

.explanationText p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    color: green;
}

.controlOutput {
    text-align: right;
}

.control {
    max-width: 3rem;
    text-align: right;
    margin-bottom: 0.5rem;
}

label {
    color: green;

}

.timer {
    margin-bottom: 0.5rem;
    color: white;
}

button,
.submit {
    height: 2rem;
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

span {
    color: blue;
}

.submit {
    height: 4rem;
    width: 10rem;
    border: 5px solid green;
    border-radius: 15px;
}

input:hover {
    background-color: rgb(34, 236, 34);
    border-radius: 10px;
}

.restart:hover {
    background-color: rgb(34, 236, 34);
    border-radius: 10px;
}

.mistake {
    color: red;
    background-color: #fff;
    font-size: 2rem;
    display: none;
}

.start:hover {
    border: 5px solid green;
    border-radius: 5px;
}

.restart {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.developed {
    font-size: 8px;
}